[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
homeassistant_historical_sensor = "0.0.2-dev2"
homeassistant = ">=2023.2.0"
ipython = "*"
ipdb = "*"

[requires]
python_version = "3"
