[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
ipython = "*"
ipdb = "*"
homeassistant-historical-sensor = {editable = true, path = "./../ha-historical-sensor"}
sqlalchemy = "*"
pre-commit = "*"
homeassistant = ">= 2023.6.0"

[requires]
python_version = "3"
