[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
homeassistant = ">= 2023.6.1"
ipython = "*"
ipdb = "*"
homeassistant-historical-sensor = {editable = true, path = "./../ha-historical-sensor"}

[requires]
python_version = "3"
